*[data-device="mobile"] {
    display: none !important;
}

body {
    --font-size-sm: 1.1rem;
    --font-size-md: 1.5rem;
    --font-size-lg: 1.8rem;
    --font-size-xl1: 2.5rem;
    --font-size-xl2: 3.2rem;
    --font-size-xl3: 3.8rem;
    --spacing-small: 10px;
    --spacing-medium: 20px;
    --spacing-long: 30px;
}

.header-wrapper {
    min-height: 80px;
}

.column {
    display: block;
}

.product-manager-option {
    height: 140px;
}

.product-manager-options-container {
    width: 60%;
    min-width: 600px;
}

.profile-inputs-container {
    width: 50%;
    min-width: 600px;
}

.home-footer-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.order-item-card {
    max-width: 1000px;
    width: 70%;
    height: 150px;
}

.portal-image-container {
    height: 100%;
    width: 35%;
}