*[data-device="desktop"] {
    display: none !important;
}

.column {
    display: none;
}

#shopping-wrapper {
        min-height: 600px;
        align-items: unset;
        margin-inline: auto;
        flex-direction: column;
}

.item-card {
    width: 100%;
    flex-shrink: unset !important;
}