*[data-device="desktop"] {
    display: none !important;
}

body { 
    --font-size-sm: 1.0rem;
    --font-size-md: 1.4rem;
    --font-size-lg: 1.6rem;
    --font-size-xl1: 2.2rem;
    --font-size-xl2: 2.8rem;
    --font-size-xl3: 3.2rem;
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-long: 24px;
}

.header-wrapper {
    min-height: 70px;
}

.column {
    display: none;
}

.product-manager-option {
    height: 100px;
}

.product-manager-options-container {
    width: 100%;
}

#shopping-wrapper {
        min-height: 600px;
        align-items: unset;
        margin-inline: auto;
        flex-direction: column;
}

.item-card {
    width: 100%;
    flex-shrink: unset !important;
}

.order-item-card{
    width: 100%;
}

.order-items-name{
    font-size: 1px !important;
}

.order-items-color{
    font-size: 1px !important;
}